ion-content > div{
    width: 80%;
    margin: auto;
    min-height: 90%;

}

ion-item-divider{
    --background:rgb(6, 17, 60)
}

.percentage {
    padding: 8px;
    width: 70px;
    border-radius: 5px;
    animation: progress 1500ms ease-in 1;
}

@keyframes progress {
    from {
        width: 0;
    }
}

@media only screen and (min-width: 800px) {
   
    ion-content > div{
        width: 70%;
    }
}