<ion-header>
  <ion-toolbar>
    <ion-title>
      3vg
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-header>
      <ion-toolbar>
        <div class="search">
          <ion-input placeholder="start by searching an organization" (keyup)="fire($event)" [(ngModel)]='userInput'>
            <ion-icon name="search"></ion-icon>
          </ion-input>
        </div>
      </ion-toolbar>
    </ion-header>
  
    <ion-list *ngIf = "PatientWithSearch$ | async as orgs" >
  
      
      <ion-item button *ngFor = "let org of orgs" (click) ="login(org)" >
        
        <ion-avatar slot="start">
          <img [src]=org.pic [alt]="org.name" />
        </ion-avatar>
        <ion-label >
          <h2>{{org.name}}</h2>
        </ion-label>
      </ion-item>
  
  
      
  
    
    </ion-list>

  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title><small>&copy; 2021 myapps.com</small></ion-title>
  </ion-toolbar>
</ion-footer>
