
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="7">
        <div>
          <h2 >hey ❤  </h2>
          <p class="animate">Thanks for using 3VG voting app we will love to hear from you
            about your experiences and challenges you faced using our app please reach out through the form gracia!</p>

        </div>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>FeedBack</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item>
              <ion-textarea rows="6" cols="20" placeholder="Enter feedback here..."></ion-textarea>
              
            </ion-item>
            <div class="btn">
              <ion-button  type="button" (click) = "presentAlertConfirm()">submit feedback</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
     
    </ion-row>
  </ion-grid>

 
</ion-content>


